@model IEnumerable<CourtlandDox.Models.IdentifierCollection>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-xs-12 marb-20">
    <h2>Identifiers</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DocumentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expression)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoticeId)
            </th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expression)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoticeId)
            </td>

        </tr>
        }

    </table>
</div>