@model IEnumerable<CourtlandDox.Models.TagDetailIdentifierCollection>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DocumentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoticeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameField)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameExpression)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValueExpression)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoticeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameField)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameExpression)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValueExpression)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
